body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    /* Fundo em tom pastel */
}

header {
    position: relative;
}

.topnav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0f8ff;
    /* Fundo em tom pastel */
    overflow-y: hidden;
    transition: height 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline-block;
    transition: color 0.3s;
}

.topnav a:hover {
    color: #4682B4;
}

.topnav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    color: #818181;
    cursor: pointer;
}

.menu-buttons {
    position: relative;
    margin: 16px;
}

.btn-menu {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #add8e6;
    /* Botão em tom pastel */
    color: #111;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.btn-menu:hover {
    background-color: #4682B4;
    /* Cor de hover mais escura */
}

.btn-pt,
.btn-eng {
    float: right;
    right: 0;
    margin-right: 10px;
    background-color: #add8e6;
    /* Botões em tom pastel */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #111;
    /* Texto em tom pastel */
}

.btn-pt:hover,
.btn-eng:hover {
    background-color: #87ceeb;
    /* Cor de hover em tom pastel */
}

.mascote {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    transition: all 0.5s ease;
    animation: jump 2s infinite;
    /* Animação de salto */
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.mascote-message {
    position: absolute;
    top: 0;
    left: 110px;
    /* Ajusta a posição para ficar ao lado da mascote */
    background-color: #f0f8ff;
    /* Fundo em tom pastel */
    border: 1px solid #add8e6;
    /* Borda em tom pastel */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #111;
    /* Texto em tom pastel */
    white-space: nowrap;
    /* Garante que o texto não quebra */
}

.blur {
    filter: blur(5px);
}

.no-blur {
    filter: none !important;
    /* Garante que a mascote e a mensagem não fiquem com blur */
}

.confirm-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f8ff;
    /* Fundo em tom pastel */
    border: 1px solid #add8e6;
    /* Borda em tom pastel */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.confirm-message {
    margin-bottom: 20px;
    color: #111;
    /* Texto em tom pastel */
}

.confirm-yes,
.confirm-no {
    background-color: #add8e6;
    /* Botões em tom pastel */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #111;
    /* Texto em tom pastel */
}

.confirm-yes:hover,
.confirm-no:hover {
    background-color: #87ceeb;
    /* Cor de hover em tom pastel */
}

.mascote-confirm {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px auto;
    /* nova alteração */
}

.mascote,
.mascote-message {
    z-index: 1001;
    /* Garante que a mascote e a mensagem estão sempre no topo */
}

.mascote-message {
    position: absolute;
    top: 0;
    left: 110px;
    /* Ajusta a posição para ficar ao lado da mascote */
    background-color: #f0f8ff;
    /* Fundo em tom pastel */
    border: 1px solid #add8e6;
    /* Borda em tom pastel */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #111;
    /* Texto em tom pastel */
    white-space: nowrap;
    /* Garante que o texto não quebra */
}

.blur {
    filter: blur(5px);
}

.no-blur {
    filter: none !important;
    /* Garante que a mascote e a mensagem não fiquem com blur */
}